/.vscode
/code/05-Modern_World/02-web_with_python/vevn
/code/05-Modern_World/02-web_with_python/exercise
/code/05-Modern_World/02-web_with_python/test_project/test_project/__pycache__
/code/05-Modern_World/02-web_with_python/test_project/blog/__pycache__